[buildout]
newest = false
#index = http://pypi.douban.com/simple/ 
eggs-directory = /opt/buildout-cache/eggs
#find-links = http://pypi.python.org/simple/zcms
develop = /opt/zcms
parts = main
        wsgi

[main]
#recipe = gp.recipe.pip
recipe = zc.recipe.egg
interpreter = python
dependent-scripts = true
eggs =
       zcms >= 0.6
scripts = pserve
          pshell

[wsgi]
recipe = collective.recipe.modwsgi
eggs = ${main:eggs}
config-file = ${buildout:directory}/production.ini
